@mixin main {
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		color: $main_text_color;
	}
}

@mixin clearfix {
	&:before, &:after{
		content: "";
		display: table;
		}
		&:after {
			clear: both;
		}
		
	}